.button
  display: inline-block
  padding: 0.9rem 1.8rem

  color: white
  font-weight: bold
  font-size: 1.1rem
  line-height: 1

  text-align: center
  text-decoration: none

  background-color: #509ae2
  border-radius: 4px
  box-shadow: 0 0 15px 0 rgba(black, 0.15)

  &:hover
    background-color: lighten(#509ae2, 5)

  &.small
    padding: 0.6rem 1.2rem
    font-size: 0.8rem
    text-transform: none

  &.hover-raise:hover
    box-shadow: 0 3px 15px 0 rgba(black, 0.1)
    transform: translateY(-2px)
