.button
  display: inline-block
  padding: 0.9rem 1.8rem

  color: white
  font-weight: bold
  font-size: 1rem
  line-height: 1

  text-align: center
  text-transform: uppercase
  text-decoration: none

  background-color: #47a833
  border-radius: 4px
  box-shadow: 0 0 15px 0 rgba(black, 0.15)
