@import './variables'
@import './mixins'

$color-green: #2ea626

.view
  flex-direction: column
  width: 100%

  section
    +center

    position: relative
    width: 100%

    .wrapper
      $padding: 2rem

      z-index: 1
      width: 100%
      max-width: calc(#{$max-width} + #{$padding} * 2)
      padding-right: $padding
      padding-left: $padding

  .card
    display: flex
    flex-direction: column
    justify-content: space-between

    padding: 1.5rem
    color: $color-text-black
    background: white
    border: 1px solid $color-light-gray
    border-radius: 6px

    transition: all 0.2s ease-out

    .content
      font-weight: normal

    &:hover:not(.wip)
      transform: translateY(-3px)

  .stripes
    position: absolute
    top: 0
    left: 0

    z-index: 0

    width: 100%
    height: 100%

    .stripe
      position: absolute

  .pro, .ent
    padding: 0.2rem 0.4rem
    color: white
    font-weight: bold
    font-size: 70%
    text-transform: uppercase
    // border: 2px solid black
    border-radius: 4px

  .pro
    background-color: $color-green

    &:before
      content: 'pro'

  .ent
    background-color: #c0c

    &:before
      content: 'ent'
